.country-selected {
  font-style: normal;
  font-weight: bolder;
}

.country-selector {
  margin-top: 2rem;
  margin-bottom: 2rem;

  width: 20rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.country-selector > *:hover {
  cursor: pointer;
}

#standings-table {
  width: 60rem;
}

.standing-team {
  border-radius: 2rem;
}

.standing-team:hover {
  text-shadow: #d0d0d0 1pt 1pt 0.4rem;
  font-weight: bolder;
  cursor: pointer;
}

#standing-error-tooltip {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  width: max-content;
}
