/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Roboto", serif;
}

.card {
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  padding: 0.4rem 2rem;
  background-color: #eaedf8;
}

.card-table {
  @extend .card;
  text-align: center;
  & thead {
    border-bottom: 3px solid #bbb;
  }

  & td {
    padding: 1rem;
  }

  & th {
    padding-left: 1rem;
    padding-right: 1.3rem;
  }
}

.x-center {
  margin-left: auto;
  margin-right: auto;
}
